# Node modules
node_modules/
**/node_modules/

# Environment variables
.env
**/.env
*.env
backend/.env
frontend/note-flow/.env

# Local configs
config.json
backend/config.json

# Build results
dist/
**/dist/
build/
**/build/

# Logs
*.log
backend/server.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
